<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>小示例</title>
</head>
<body>
  <div id="reactContainer"></div>
  <script src="./common/react.js"></script>
  <script src="./common/react-dom.js"></script>
  <!-- 引入browser.js -->
  <script src="https://cdn.bootcss.com/babel-core/5.8.38/browser.js"></script>
  <script type="text/babel">
    let HelloComponent = React.createClass({
      getInitialState () {
        console.log('initial state')
        return {
          opacity: 1.0
        }
      },
      componentDidMount () {
        setInterval(()=>{
          let opacity = this.state.opacity - 0.05
          if (opacity < 0.1) {
            opacity = 1.0
          }
          this.setState({
            opacity
          })
        }.bind(this), 100)
      },
      render () {
        return (
          <div style={{opacity: this.state.opacity}}>
            <h1>Hello {this.props.name}</h1>
          </div>
        )
      }
    })
    ReactDOM.render(<HelloComponent name="rain"/>, document.getElementById('reactContainer'))
  </script>
</body>
</html>